.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.box{
  border: 2px solid rgba(29, 3, 3, 0.658);
  width: 45%;
  height: 45%;
  justify-items: center;
  align-items: center;  
}
.box form{

  margin-left: 50px;
  background-color: rgba(10, 8, 8, 0.548);
  width: 170px;

}
h1{
  color: black;
  background-color: rgba(87, 82, 82, 0.596);
  font-style:inherit; 
  
}

label{
  color:whitesmoke;
  font-style:inherit; 
  font-size: 20px;
  display: flex;
  clear: both;
}
.btn{
  color: azure;
  background-color: rgba(70, 68, 64, 0.315);
  border-radius: 45;
}
.btn:hover{
  background-color:black;
}

.InputValue{
  border-radius:10px;
  color: black;
  background-color: rgba(70, 68, 64, 0.315);
}
.InputValue:hover{
  border: black;
}
table{
  text-align: center;
  color: aliceblue;
  background-color: rgba(10, 8, 8, 0.548);;
}

.InValid{
  background-color: rgba(19, 17, 17, 0.171);
  size: 15px;
  color: rgba(250, 0, 0, 0.699);
}
.InValid:hover{
  background-color: rgb(0, 0, 0);

}
h1:hover{
  color: aliceblue;
  background-color: rgb(0, 0, 0);

}