#rootElement {
  
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image:url(./pexels-lalesh-aldarwish-167964.jpg);
  background-repeat:no-repeat ;
  background-size :cover;
  background-position:top; 
  position: relative;
  top: 0;
  left: 0;
}

.logo{
  position: absolute;
  height: 70px;
  top:0;
  left: 50px;
  
}